{% extends "layout.html" %}

{% block body %}
<main role="main" class="container">
<h1>Hallinnoi Genrejä</h1>

<ul class="list-group list-group-flush">
    <ul class="list-group">
    {% for g in genres %}
    <li class="list-group-item">
    <div class="d-flex">
        <div class="mr-auto p-2">{{g.genre}}</div>
        <div class="p-2">
          <input type="submit" class="btn btn-success" value="Muokkaa"/>
        </div>
        <div class="p-2">
            <form method="POST" action="{{url_for('genre_delete', id=g.id)}}">
            <input type="submit" class="btn btn-danger" value="Poista"/>
            </form>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  </main>
{% endblock %}
