{% extends "layout.html" %}

{% block body %}
<main role="main" class="container">
<form method="Post" action ="{{url_for('auth_login')}}">
    <table>
        <tr>
            <td>
            {{form.username.label}}
            </td>
            <td>
            {{form.username}}
            </td>
        </tr>
        <tr>
            <td>
                {{form.password.label}}
            </td>
            <td>
                {{form.password}}
            </td>
        </tr>
    </table>
    <input type = "submit" class="btn btn-primary" value = "Kirjaudu Sisään"/>
    {{error}}

</form>
</main>
{% endblock %}
    