{% extends "layout.html" %}
{% block body %}
{{error}}
<form method="Post" action ="{{url_for('auth_create')}}">
    <table>
        <tr>
            <td>
            {{form.username.label}}
            </td>
            <td>
            {{form.username}}
            </td>
        </tr>
        <tr>
            <td>
                {{form.password.label}}
            </td>
            <td>
                {{form.password}}
            </td>
        </tr>
        <tr>
            <input type = "submit" value = "Rekisteröidy"/>
        </tr>
    </table>
</form>
{% for error in form.username.errors %}
{{error}}
{% endfor %}

{% for error in form.password.errors %}
{{error}}
{% endfor %}
{% endblock %}