{% extends "layout.html" %}

{% block body %}
<main role="main" class="container">
  <h1>Kaikki tabulatuurit</h1>
  <ul class="list-group list-group-flush">
    <ul class="list-group">
      {% for t in tabs %}
      <a href="{{url_for('tabs_single', id=t.id)}}" class="list-group-item list-group-item-action">{{t.name}}

      </a>
      {% endfor %}
    </ul>
    <div class="d-flex">
      <div class="p-2">
        {% if prev %}
        <a href="{{prev}}">Edellinen sivu</a>
        {% endif %}
      </div>
      <div class="ml-auto p-2">
        {% if next %}
        <a href="{{next}}">Seuraava sivu</a>
        {% endif %}
      </div>
    </div>
</main>


{% endblock %}