{% extends "layout.html" %}
  
{% block body %}
<main role="main" class="container">
<form method="POST" action="{{ url_for('tabs_create') }}" id="tabform" >
  <table>
    <tr>
      <td>
          {{form.name.label }}
          {{form.name}}
          {% for error in form.name.errors %}
          {{error}}
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
          {{form.content(cols="100",rows = "30")}}
      </td>
    </tr>
  </table>
  <input type="submit"  class = "btn btn-success" value="Lisää tabulatuuri"/>
  {% for error in form.content.errors %}
  {{error}}
  {% endfor %}
</form>
</main>
{% endblock %}
